body{
    margin: 0px;
    padding: 0px;
    }

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url('https://unsplash.com/photos/3Q-uzGG_erc/download?ixid=MnwxMjA3fDB8MXx0b3BpY3x8ZWRRT21paGVVdFl8fHx8fDJ8fDE2Mzk1NzE1NTU&amp;force=true') bottom no-repeat;
    background-size: cover;
}

h1{
    color:rgb(255, 255, 255);
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
}

.news{
    background-color: #fff;
    padding: 50px 0 32px;
}

section article:nth-child(2n+2){
    background-color: rgb(224, 193, 151);
}

.newads::before{
    content: "*New* ";
    color: rgb(13, 95, 2);
}

article{
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article a{
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover{
    color: #0085a1;
}

article h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta{
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

article img{
    width: 100%;
    height: 400px;
    padding-top: 5px;
    object-fit:contain;
    border-radius: 8px;
}

footer{
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links > a{
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright{
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}